<header class="header">
	<a href="#/destinations" title="" class="logo"></a>
    <section id="menu" class="menu" data-ng-include="'app/partials/_menu.html'"></section>
</header>

<div class="inside_page destinations">
    <section class="title">
        <h1>{{ destinations.title }}</h1></section>
    <div class="clear"></div>
    
    <input type="text" class="inbox__search" ng-model="destinations.search" value="" placeholder="Search by Country or City ">

    <ul class="list_destinations">
	    <li ng-repeat="airport in destinations.airports | orderBy : 'name' | filter: destinations.search">
	        <a href="javascript:;" class="airport" ng-click="openInfoWindow($event, airport)">{{ airport.name }}</a>
	    </li>
    </ul>

    <div class="clear"></div>
</div>


<div class="destionation_info" ng-show="selected.name">
	<div>
		<a href="javascript:;" title="" class="close" ng-click="selected = ''">Close</a>

    	<h2>Airport: <em>{{ selected.name }} | {{ selected.iataCode }}</em></h2>
    	<h3>Country: <em>{{ selected.country.name }}</em></h3>
    	<h4>Currency: <em>{{ selected.country.currency }}</em></h4>
    	<p><small>Latitude: {{ selected.latitude }}; Longitude: {{ selected.longitude }}</small></p>

    	<!-- <minimap class="minimap"></minimap> -->
    	<div class="minimap"><div id="map_canvas" class="map_canvas"></div></div
    	<div class="clear"></div>
    	
	</div>
</div>
