<header class="header">
	<a href="#/map" title="" class="logo"></a>
</header>

<div class="inside_page map">
    <section class="title">
        <h1>{{ map.title }}</h1>
	</section>
    
	<div class="clear"></div>
    <input type="text" class="inbox__search" ng-model="map.search" value="" placeholder="Search by Country or City " />
    <div class="clear"></div>
    
    <div id="map_container" class="map_container">
        <div id="map_canvas" class="map_canvas"></div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
