<ul class="main_menu">
	<li data-ng-class="getClass('/my-flights')"><a href="#/my-flights" title="My Flights">My Flights</a></li>
	<li data-ng-class="getClass('/available-flights')"><a href="#/available-flights" title="Available Flights">Available Flights</a></li>
	<li data-ng-class="getClass('/inbox')"><a href="#/inbox" title="Messages">Messages <span class="module directive"><nrmess></nrmess></span></a></li>
	<li data-ng-class="getClass('/notifications')"><a href="#/notifications" title="Notifications">Notifications <span class="module directive"><nrnotif></nrnotif></span></a></li>
</ul>
