<div class="menu" id="menu" data-ng-include="'app/partials/_menu.html'"></div>

<div class="inside_page my_flights" ng-show="myFlights.flights.assigned_flights.length"> 
	<section class="title"><h1>Your schedule for <strong>{{ myFlights.flights.date * 1000 | date : format : timezone | uppercase }}</strong></h1></section>

	<div class="all_assigned_flights">
		<!-- <div class="flight" ng-repeat="myFlights in myFlights.flights.assigned_flights | orderBy:'departing_time'"> -->
		<div class="flight" ng-repeat="myFlights in myFlights.flights.assigned_flights" titlle="" tooltip-placement="top" tooltip-html-unsafe="Departure: <b>{{ myFlights.departing_time * 1000 | date:'MMM d, y HH:mm' }}</b> <br /> Arrival: <b>{{ myFlights.landing_time * 1000 | date:'MMM d, y HH:mm' }}</b>">
			<h2>{{ myFlights.from_code }} - {{ myFlights.to_code }}</h2>
			<p><strong>{{ myFlights.flight_code }}</strong> landing to {{ myFlights.to_code }} {{ myFlights.landing_time * 1000 | date:'HH:mm' }}</p>
			<p class="size1"><strong>Departing {{ myFlights.departing_time * 1000 | date:'HH:mm' }}</strong></p>
			<p><strong>{{ myFlights.passenger_booked }}</strong> Passengers Booked</p>
			<p><strong>{{ myFlights.forecasted_bags }}</strong> Forecasted Bags</p>
			<a href="javascript:;" title="See Flight" class="see_flight_button" ng-click="goToFlight(myFlights.id);">See Flight</a>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>

	<div class="clear"></div>
</div>

<div class="inside_page my_flights error" ng-show="!myFlights.flights.assigned_flights.length">
	<section class="title"><strong>No flights assigned!</strong></section>
</div>

<div class="flightsRoadmap" id="flightsRoadmap" data-ng-include="'app/partials/_flightsRoadmap.html'"></div>



