// Main application stylesheet file
// @version 1.0

$max_width: 1400px
$max_width2: 990px
$min_width: 320px

// breakpoints
$phone: 767px !default
$tablet: 1024px !default
$pc: 1280px !default
$pc_huge: 1450px !default

$menu_orange: #f39c12
$menu_green: #00ae4a
$menu_red: #c0392b
$menu_blue: #22356b
$menu_lightblue: #426dab
$menu_gray: #898787
$menu_light_blue: #f39c12

$gray_title: #353535


$border_color: #ddd

$default_red: #c0392b

$draggable_width: 100
$draggable_height: 100
$dropzone_height: 700

// IMPORTS ===============================
@import common/base.sass
@import common/reset.sass

// Modules
.mobileonly
	:display none
	:visibility hidden
.hide
	:display none
	:visibility hidden
	+opacity(0)
.hidden
	:visibility hidden

.clearfix:before,
.clearfix:after
	:content " "
	:display table
.clearfix:after 
	:clear both
.clearfix
	:zoom 1
	:*zoom 1
.clear
	:clear both
	:display block
	:width 100%
	:line-height 0px
	:height 0px
	:padding 0 !important
	:margin 0 !important
.bold, strong
	:font-weight 700 !important
.center
	:text-align center !important
.caps
	:text-transform uppercase

html
	:width 100%
	:height 100%

body
	// :font-family $open-sans
	// :font-family $varela-round
	// :font-family $lato
	:font-family $bitter
	:font-weight 300
	:color #231f20
	:background-color #FFF
	:font-size 100%
	:height 100%
	:width 100%
	+media-query(phone)
		:font-size 80%
	+media-query(tablet)
		:font-size 90%
	+media-query(pc)
		:font-size 100%
	+media-query(pc_huge)
		:font-size 100%

a
	:color #231f20
	:outline none
	+media-query(phone)

	&:hover, &:visited, &:focus, &:active
		:outline none

img
	:max-width 100%
	:vertical-align middle
	:border 0
	:outline none

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
	// :background-color white !important
	:background-color rgb(250, 255, 189) !important

textarea
	:resize none

form
	:width 100%
	:float left
	:text-align left
	:padding 0
	:margin 0
	:display block
	:border 0px none

textarea, input[type="text"], input[type="number"], input[type="password"], input[type="submit"], input[type="email"], input[type="tel"], button, , input[type="file"], input[type="number"], input[type="url"]
	:outline none !important

a
	:text-decoration none
	:outline none
	+unselectable
	:color #1d1d1b

h1,h2,h3,h4,h5,h6,p
	:line-height 150%
	:margin-bottom 10px
	:width 100%
	:display block
	:float left
	:text-align left
	:font-weight 300

h1
	:margin-bottom 10px

ul, ul li
	:list-style none

// *, *::before, *::after
	// +border_box


html, body, button 
	:-webkit-font-smoothing antialiased
	:font-smoothing antialiased

button
	:border 0px none
	:outline none
	:cursor pointer

input[type="submit"]
	:outline none
	:cursor pointer

div
	:display block
	:text-align left
	:padding 0
	:margin 0

body
	&.home
		// +transition(all 0.2s ease-in)
		// :background
		// 	:color white
		// 	:image image_url(unquote("bg_home_day.jpg"))
		// 	:repeat no-repeat
		// 	:position center center
		// 	:attachment fixed
		// 	:size cover
		// :-webkit-background-size cover
		// :-moz-background-size cover
		// :-o-background-size cover
		// :background-size cover
		// +media-query(phone)
		// 	:background-image none

		// &.day
		// 	:background
		// 		:image image_url(unquote("bg_home_day.jpg"))
		// 	+media-query(phone)
		// 		:background-image none

		// &.night
		// 	:background
		// 		:image image_url(unquote("bg_home_night.jpg"))
		// 	+media-query(phone)
		// 		:background-image none

		// #page
		// 	:height 100%
		// 	:background
		// 		:color transparent
		// 		:image none

		// 	.wrapper
		// 		:position absolute
		// 		:left 0
		// 		:bottom 0
		// 		+media-query(phone)
		// 			:position relative
		// 			:bottom auto
		// 			:left auto
		// 		+media-query(tablet)
		// 			:bottom 0
		// 			:margin-bottom 0
		// 		+media-query(pc)
		// 			:bottom 0%
		// 			:margin-bottom 0
		// 		+media-query(pc_huge)
		// 			:bottom 4%
		// 			:margin-bottom 0

	#site
		:width 100%
		:height 100%
		:min-width $min_width !important
		:clear both
		:padding 0
		:margin 0 auto
		:display block
		:position relative
		:z-index 1000
		:-webkit-backface-visibility hidden
		:-moz-backface-visibility hidden
		:-ms-backface-visibility hidden
		:-o-backface-visibility hidden
		:backface-visibility hidden
		+unselectable

		.title
			:float left
			:width 100%
			:text-align center
			:margin 0
			:clear both
			+border_box
			:text-transform uppercase
			:font-size 1.7em
			:font-weight 700

			h1
				:text-align center

		.content
			:float left
			:width 100%
			:height 100%
			:clear both
			:padding 0
			:margin 0
			:display block
			:position relative
			// +transition(all 0.2s ease-in)
			
			.header
				:float left
				:width 100%
				:clear both
				:margin 0
				:padding 0
				:clear both
				:position relative
				:height 150px
				:margin-bottom 40px
				:display block
				:background
					:color $menu_lightblue
					:repeat no-repeat
					:position 0 0
				:border-bottom 1px solid black
				+media-query(phone)
					:background-image none
					:height auto

				.logo
					:float left
					:width 112px
					:height 100%
					:position relative
					:z-index 100
					:margin 0 2%
					:display block
					:background
						// :image image_url(unquote("ryanair_logo.png"))
						:repeat no-repeat
						:position center center
					+media-query(phone)
						:float none
						:margin 10px auto
						:clear both
						:height 43px

				.menu
					:float left
					:width auto
					:height 130px
					:margin 20px 0 0 0
					:padding 0
					:position relative
					:font-weight 400
					+media-query(phone)
						:height auto
						:width 100%
						:display block
						:clear both
						:margin-bottom 20px

					&> a
						:padding 0
						:margin 0
						:float left
						:display inline-block
						// +transition(all 0.2s ease-in)
						:color white
						:text-transform uppercase
						:font-weight 400
						:font-size 1.1em
						:height 130px
						:line-height 130px
						:text-shadow 0 1px 1px rgba(0,0,0, 0.4)
						:text-align center
						:position relative
						+media-query(phone)
							:height auto
							:line-height normal
							:padding 10px 0
							:width 100%
							:clear both
							:text-align center
							:margin 0
						+media-query(pc_huge)
							:margin 0 10px
						+media-query(pc)
							:margin 0 10px
						+media-query(tablet)
							:margin 0
						+media-query(phone)
							:margin 0

						&> span
							:float left
							:text-align center
							:padding 0 12px
							:margin 0
							:width 100%
							:height 100%
							:position relative
							:z-index 10
							+border_box
							+media-query(phone)
								:padding 0

						&> em, &> q
							:float left
							:text-align left
							:text-indent -6000em
							:display block
							:width 12px
							:height 100%
							:position absolute
							:top 0
							:bottom 0
							:z-index 20
							+rotate(4)
							:background-color transparent
							// +transition(all 0.2s ease-in)
							+media-query(phone)
								:display none

						&> em
							:left -5px
							:top 1px
						&> q
							:right -6px	

						&:first-child
							:margin-left 0px

						&:last-child
							:margin-right 0px

						&.current, &:hover
							:color $menu_lightblue
							:background-color white
							:text-shadow 0 1px 1px rgba(0,0,0, 0.1)

							&> em, &> q
								:background-color white

			.inside_page
				:float left
				:width 100%
				:clear both
				:display block
				:padding 10px
				:margin 0 0 20px 0
				+border_box
				:position relative

				&.destinations

					.inbox__search
						:float left
						:width 90%
						:margin 20px 5% 50px 5%
						:padding 10px
						+border_box
						:font-family $bitter
						:color $menu_blue
						:text-transform uppercase
						:outline none
						:border 1px solid #ADB1B7
						:box-shadow 0 0 15px 0px rgba(0,0,0,0.2) inset
						+transition(all 0.2s ease-in)

						&:focus
							:box-shadow 0 0 5px 0px rgba(0,0,0,0.2) inset

					ul.list_destinations
						:float left
						:width 100%
						:clear both
						:margin 0
						:width 100%

						li
							:float left
							:padding 5px
							:margin 3px 0
							:display inline-block
							+prepare_animation
							:-webkit-animation-name bounceIn
							:-moz-animation-name bounceIn
							:-ms-animation-name bounceIn
							:-o-animation-name bounceIn
							:animation-name bounceIn
							// @for $i from 1 through 200
							// 	&:nth-child(#{$i})
							// 		:-webkit-animation-delay #{$i/800}s
							// 		:-moz-animation-delay #{$i/800}s
							// 		:-o-animation-delay #{$i/800}s
							// 		:-ms-animation-delay #{$i/800}s
							// 		:animation-delay #{$i/800}s

							&> a
								:padding 3px 5px
								:color black
								:text-shadow 0 1px 0 rgba(255,255,255,0.3)
								:background
									:color lighten($menu_lightblue, 48%)
								+transition(all 0.2s ease-in)
								:z-index 8
								:position relative

								&:hover
									:background
										:color lighten($menu_lightblue, 44%)
									// +scale(1.1)
									:z-index 10


				&.map
					:position absolute
					:bottom 0
					:top 190px
					:left 0
					:right 0
					:z-index 100
					:margin-bottom 0
					:padding 10px 0

					.map_container, .map_canvas
						:width 100%
						:float left
						:height 100%
						:clear both
						:text-align left
						:margin 0
						:padding 0
			

	
.advancedLoader
	:display none
	:display block
	:width 60px
	:height 60px
	:position absolute
	:z-index 1001
	:top 50%
	:left 50%
	:margin -30px auto
	:text-align center
	:-webkit-animation rotate 2.0s infinite linear
	:-moz-animation rotate 2.0s infinite linear
	:-ms-animation rotate 2.0s infinite linear
	:-o-animation rotate 2.0s infinite linear
	:animation rotate 2.0s infinite linear
	+unselectable
	:cursor default

	&:before,
	&:after 
		:content ''
		:width 60%
		:height 60%
		:display inline-block
		:position absolute
		:top 0
		:background-color $menu_blue
		+gradient($menu_blue, $menu_blue, unquote("noiz.png"))
		+radius(100%)
		:-webkit-animation bounceSmall 2.0s infinite ease-in-out
		:-moz-animation bounceSmall 2.0s infinite ease-in-out
		:-ms-animation bounceSmall 2.0s infinite ease-in-out
		:-o-animation bounceSmall 2.0s infinite ease-in-out
		:animation bounceSmall 2.0s infinite ease-in-out
		

	&:after 
		:top auto
		:bottom 0px
		:-webkit-animation-delay -1s
		:-moz-animation-delay -1s
		:-ms-animation-delay -1s
		:-o-animation-delay -1s
		:animation-delay -1s



